{% extends 'admin_panel/base.html' %}
{% block content %}
{% load static %}
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Product Specification List</h4>
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>No</th>
                                        <th>Specification Title</th>
                                        <th>Content</th>
                                        <th>Setting</th>
                                    </tr>
                                    {% for item in spec %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.content }}</td>
                                        <td>
                                            <!-- <a href="{% url 'dashboard:specification-update' item.pk %}" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> -->
                                            <form method="get" action="{% url 'dashboard:product-specification-delete' item.product.pk item.pk %}">
                                              <button type="submit" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            {% if is_paginated %}
                            <div class="custom-pagination">
              								<ul class="pagination">
                                {% if page_obj.has_previous %}
              									<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
              									    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
              									    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                {% endif %}
              								</ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
