<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="keywords" content="">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

    <!-- Plugins css -->
    <link rel="stylesheet" href="css/plugins.css">
</head>
	<body>
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <di class="box-checkout">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>Add Products</h1>
                            </div>
                        </div>
                    </di>
                    <div class="prd_add fields-content">
                        <form>
                            <div class="field-row">
                                <div class="field-one-half">
                                    <label for="first-name">First Name *</label>
                                    <input type="text" id="first-name" name="first-name" placeholder="First Name"/>
                                </div>
                                <div class="field-one-half">
                                    <label for="last-name">Last Name *</label>
                                    <input type="text" id="last-name" name="last-name" placeholder="Last Name"/>
                                </div>
                            </div>
                            <div class="field-row wi_radio">                                
                                <div class="radio_hlf">
                                    <label for="flat-rate">Label one</span></label>
                                    <input type="radio" id="flat-rate" checked="" name="radio-flat-rate"/>
                                </div>                                    
                                <div class="radio_hlf">
                                    <label for="free-shipping">Label Two</label>
                                    <input type="radio" id="free-shipping" name="radio-flat-rate"/>
                                </div>    
                            </div>
                            <div class="field-row wi_radio">                                
                                <div class="radio_hlf">
                                    <label for="flat-rate">Label one</span></label>
                                    <input type="checkbox" name="vehicle1" value="Bike">
                                </div>                                    
                                <div class="radio_hlf">
                                    <label for="flat-rate">Label Two</span></label>
                                    <input type="checkbox" name="vehicle1" value="Bike">
                                </div>    
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                <label for="notes">Select image to upload</label>
                                <input type="file" name="fileToUpload" id="fileToUpload">
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                <label for="notes">Order Notes</label>
                                <textarea id="notes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                <label for="notes">Select</label>
                                <select name="" id="">
                                    <option value="">Option one</option>
                                    <option value="">Option one</option>
                                    <option value="">Option one</option>
                                    <option value="">Option one</option>
                                </select>
                                </div>
                            </div>
                            <div class="sbtprd">
                                <button>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
    <!-- Plugins script -->
    <script src="js/plugins.js"></script>
</body>
</html>