<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="keywords" content="">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <!-- Plugins css -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
</head>
	<body>
	<div class="mb_slide_menu_back"></div>
    <div class="mb_slide_meu">
        <div class="mb_slide_menu_cntnts">
            <div class="mb_sld_top">
                <div class="logo_sld_mnu">
                    <a href="{% url 'product:index' %}">
                        <img src="{% static 'images/newlogo.png' %}">
                    </a>
                </div>
                <div class="mb_sld_hide">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </div>
            <div class="mb_accor_menu">
                <ul class="accor_toplvl">
                    <li>
                        <a href="{% url 'product:product-list' %}">
                        <div class="clk_show_dh_catlist">
                        <span class="menu_cat_name">
                            <span class="menu_icn">
                            <img src="{% static 'images/7.png' %}" alt="">
                            </span> All Laptops
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clk_show_dh_catlist">
                            <span class="menu_cat_name">
                                <span class="menu_icn">
                                <img src="{% static 'images/7.png' %}" alt="">
                                </span> Laptops By Brand
                            </span>
                            <span class="sh_hd_accor_cont">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </span>
                            </div>
                        </a>
                        <div class="pg_links_cat">
                            <ul class="accor_lowlvl">
                                {% for item in menu_brands %}
                                <li>
                                    <a href="{% url 'product:product-brand-list' item.pk %}">{{ item.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="clk_show_dh_catlist">
                            <span class="menu_cat_name">
                                <span class="menu_icn">
                                <img src="{% static 'images/7.png' %}" alt="">
                                </span> Laptops By Types
                            </span>
                            <span class="sh_hd_accor_cont">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </span>
                            </div>
                        </a>
                        <div class="pg_links_cat">
                            <ul class="accor_lowlvl">
                                {% for item in menu_types %}
                                <li>
                                    <a href="{% url 'product:product-type-list' item.pk %}">{{ item.brand_type }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div class="mb_btm_menus">
                <ul>
                    <li>
                        <a href="#">Groceries</a>
                    </li>
                    <li>
                        <a href="#">Cakes & Gifts</a>
                    </li>
                    <li>
                        <a href="#">Home & Living</a>
                    </li>
                    <li>
                        <a href="#">Groceries</a>
                    </li>
                    <li>
                        <a href="#">Cakes & Gifts</a>
                    </li>
                    <li>
                        <a href="#">Home & Living</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>


    <!-- mobile menu -->


    <header class="main_header">
        <div class="req__item">
            <div class="text-center req__content">
                <div class="req__item__text__hldr">
                    <span class="req__text">...order a Product Not Found Here</span><a href="{% url 'product:request-product' %}">Request A Product</a> 
                </div>
            </div>
        </div> 
        <div class="rsp_srch_bx_hldr">
            <span class="rsp_srch_close">x</span>
            <form method="POST" action="{% url 'product:search-product' %}">
                {% csrf_token %}
                <div class="input-groups ">
                    <input type="text" class="form-control" name="srh" placeholder="Search here">
                    <div class="input-group-append">
                        <button type="submit" class="submit "><i class="fa fa-search "></i></button>
                    </div>
                </div>
            </form>
        </div>    
        <div class="header-2">
            <div class="container">
                <div class="header_contnt">                
                    <!-- responsive toggle main menu -->
                    <div class="resp_tggl_main_menu">
                        <span class="menu_bar"></span>
                    </div>
                    <!-- responsive toggle main menu -->
                    <div class="header_logo">
                        <div class="logo">
                            <a href="{% url 'product:index' %}"><img src="{% static 'images/newlogo.png' %}"></a>
                        </div>
                    </div>
                    <div class="header_right">
                        <div class="header_right_left">
                            <div class="hd_rgt_lft_hldr">
                                
                                <div class="new-cn-inf">
                                    <div class="cnt_infos">
                                        <span class="cnt_infs_lst">
                                               <i class="fa fa-phone "> </i> Hotline: +977 9803621548
                                               </span>
                                        <span class="cnt_infs_lst">
                                               <i class="fa fa-envelope"> </i>Email: info@iteam.com.np  
                                               </span>
                                    </div>
                                    <div class="flt-lft-lr">
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url 'logout' %}">Logout</a>
                                        {% else %}
                                            <a href="{% url 'login' %}">Login</a> /
                                            <a href="{% url 'users:register' %}">Register</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="srchfrm_hdr">
                                    
                                        <form method="POST" action="{% url 'product:search-product' %}">
                                            {% csrf_token %}
                                        <div class="input-groups ">
                                            <input type="text" class="form-control" name="srh" placeholder="Search here">
                                            <div class="input-group-append">
                                                <button type="submit" class="submit "><i class="fa fa-search "></i></button>
                                            </div>
                                        </div>
                                        </form>
                                    
                                </div>
                            </div>
                        </div>                    
                        <div class="header_right_prt">                        
                                    <div class="cart_whis_noti">
                                        <!-- RESPONSIVE SEARCH DIV -->
                                        <div class="resp_srch">
                                            <span class="clk_rsp_srch">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <!-- RESPONSIVE SEARCH DIV -->
                                        <div class="hd_wishlist shop_itm">                                    
                                            <div class="clk_for_dropdwn fabclick"></div>
                                            <span class="shop_itm_txt">
                                                <a href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                <!-- <span class="shp_itm_indic">2</span> -->
                                                </a>
                                            </span>
                                        </div>
                                        <div class="hd_cart shop_itm">
                                            <div class="clk_for_dropdwn cartclick"></div>
                                            <span class="shop_itm_txt">
                                                <a href="#">
                                                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                                <!-- <span class="shp_itm_indic">2</span> -->
                                                </a>
                                            </span>
                                        </div>
                                        <div class="hd_waitclick shop_itm">
                                            <div class="clk_for_dropdwn waitclick"></div>
                                            <span class="shop_itm_txt">
                                                <a href="#">
                                                <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                                <!-- <span class="shp_itm_indic">2</span>  -->
                                                </a>
                                            </span>
                                        </div>
                                        <div class="hd_noti shop_itm">
                                            <div class="clk_for_dropdwn hd_notofi"></div>
                                            <span class="shop_itm_txt">
                                                <a href="#">
                                                <i class="fa fa-bell" aria-hidden="true"></i>
                                                <!-- <span class="shp_itm_indic">2</span> -->
                                                </a>
                                            </span>
                                        </div>
                                        {% if request.user.is_authenticated %}
                                            <div class="hd_prof shop_itm">
                                                <span class="shop_itm_txt">
                                                    <a href="{% url 'users:profile' request.user.pk %}">
                                                        {% if request.user.profile.image %}
                                                            <img src="{{ request.user.profile.image.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'images/216.jpg' %}" alt="">
                                                        {% endif %}
                                                    </a>
                                                </span>
                                            </div>
                                        {% endif %}
                                        <!-- drop downs -->
                                        <div class="dprdwn fav_drp">
                                            <span class="drpdwn_cls">close</span>
                                            <div class="drpdwn_header">
                                                <span class="drpdwn_hdingtxt">
                                                            Favourites
                                                        </span>
                                            </div>
                                            <div class="drp_added_itms">
                                                {% if request.user.is_authenticated %}
                                                <ul>
                                                        {% for item in header_favourites %}
                                                        <li>
                                                            <div class="drp_added_itms_lst">
                                                                <div class="added_itms_img">
                                                                    <a href="{% url 'product:product-detail' item.product.pk %}">
                                                                        <img src="{{ item.product.main_image.url }}" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="drp_added_itms_cont_hldr">
                                                                    <div class="drp_added_itms_cont">
                                                                        <span class="drp_added_itms_txt">
                                                                                    <a href="{% url 'product:product-detail' item.product.pk %}">{{ item.product.name }}</a>
                                                                                    <span class="drp_added_itms_prc">{{ item.product.new_price }}</span>
                                                                        </span>

                                                                    </div>
                                                                    <!-- <div class="dlt_drp_added_itm">
                                                                        <button><i class="fa fa-window-close" aria-hidden="true"></i></button>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                </ul>
                                                <div class="drp_more_items">
                                                    <div class="drp_vew_mritemsbtn">
                                                        <a href="{% url 'product:favourite' request.user.pk %}">View All Items</a>
                                                    </div>
                                                </div> 
                                                {% else %}
                                                <p>You need to be logged in to view your Favourites.</p>
                                                <div class="drp_more_items">
                                                        <div class="drp_vew_mritemsbtn">
                                                            <a href="{% url 'login' %}">Login</a>
                                                        </div>
                                                    </div> 
                                                {% endif %}                                               
                                            </div>
                                        </div>

                                        <div class="dprdwn cart_drp">
                                            <span class="drpdwn_cls">close</span>
                                            <div class="drpdwn_header">
                                                <span class="drpdwn_hdingtxt">
                                                            Cart
                                                        </span>
                                            </div>
                                            <div class="drp_added_itms">
                                                {% if request.user.is_authenticated %}
                                                <ul>
                                                    {% for item in header_cart %}
                                                    <li>
                                                        <div class="drp_added_itms_lst">
                                                            <div class="added_itms_img">
                                                                <a href="{% url 'product:product-detail' item.product.pk %}">
                                                                    <img src="{{ item.product.main_image.url }}" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="drp_added_itms_cont_hldr">
                                                                <div class="drp_added_itms_cont">
                                                                    <span class="drp_added_itms_txt">
                                                                                <a href="{% url 'product:product-detail' item.product.pk %}">{{ item.product.name }}</a>
                                                                                <span class="drp_added_itms_prc">{{ item.product.new_price }}</span>
                                                                    </span>

                                                                </div>
                                                                <!-- <div class="dlt_drp_added_itm">
                                                                    <button><i class="fa fa-window-close" aria-hidden="true"></i></button>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="drp_more_items">
                                                    <div class="drp_vew_mritemsbtn">
                                                        <a href="{% url 'product:cart-list' request.user.pk %}">View All Items</a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <p>You need to be logged in to view your Cart.</p>
                                                <div class="drp_more_items">
                                                        <div class="drp_vew_mritemsbtn">
                                                            <a href="{% url 'login' %}">Login</a>
                                                        </div>
                                                    </div> 
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="dprdwn wait_drp">
                                            <span class="drpdwn_cls">close</span>
                                            <div class="drpdwn_header">
                                                <span class="drpdwn_hdingtxt">
                                                            Wait List
                                                        </span>
                                            </div>
                                            <div class="drp_added_itms">
                                                {% if request.user.is_authenticated %}
                                                <ul>
                                                    {% for item in header_waitlist %}
                                                    <li>
                                                        <div class="drp_added_itms_lst">
                                                            <div class="added_itms_img">
                                                                <a href="{% url 'product:product-detail' item.product.pk %}">
                                                                    <img src="{{ item.product.main_image.url }}" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="drp_added_itms_cont_hldr">
                                                                <div class="drp_added_itms_cont">
                                                                    <span class="drp_added_itms_txt">
                                                                                <a href="{% url 'product:product-detail' item.product.pk %}">{{ item.product.name }}</a>
                                                                                <span class="drp_added_itms_prc">{{ item.product.new_price }}</span>
                                                                    </span>

                                                                </div>
                                                                <!-- <div class="dlt_drp_added_itm">
                                                                    <button><i class="fa fa-window-close" aria-hidden="true"></i></button>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="drp_more_items">
                                                    <div class="drp_vew_mritemsbtn">
                                                        <a href="{% url 'product:waitlist' request.user.pk %}">View All Items</a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <p>You need to be logged in to view your Waitlists.</p>
                                                <div class="drp_more_items">
                                                        <div class="drp_vew_mritemsbtn">
                                                            <a href="{% url 'login' %}">Login</a>
                                                        </div>
                                                    </div> 
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="dprdwn notifi_drp">
                                            <span class="drpdwn_cls">close</span>
                                            <div class="drpdwn_header">
                                                <span class="drpdwn_hdingtxt">
                                                            Notifications
                                                        </span>
                                            </div>
                                            <div class="drp_added_itms">
                                                {% if request.user.is_authenticated %}
                                                <ul>
                                                    {% for item in menu_notifications %}
                                                    <li>
                                                        <div class="drp_added_itms_lst">
                                                            <div class="drp_added_itms_cont_hldr">
                                                                <div class="drp_added_itms_cont">
                                                                    <span class="drp_added_itms_txt">
                                                                        <a href="{% url 'product:product-detail' item.product.pk %}">{{ item.title }}</a>
                                                                        <span class="drp_added_itms_prc">{{ item.description }}</span>
                                                                    </span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="drp_more_items">
                                                    <div class="drp_vew_mritemsbtn">
                                                        <a href="{% url 'product:notification' request.user.pk %}">View All</a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <p>You need to be logged in to view your Notifications.</p>
                                                <div class="drp_more_items">
                                                        <div class="drp_vew_mritemsbtn">
                                                            <a href="{% url 'login' %}">Login</a>
                                                        </div>
                                                    </div> 
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- drop downs -->
                                    </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <section class="headerbottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav_holder">
                        <div class="toggle_nav">
                            <div class="sh_hd_megamenu"></div>
                            <span class="tggl_bx">
                                        <span class="cat_mnu_txt">Categories</span>
                            <span class="bars"></span>
                            </span>
                            <div class="toggle_openmenu_nav">
                                <ul class="megamenu_lk">
                                    <li>
                                        <a href="{% url 'product:product-list' %}">
                                            <span class="menu_icn">
                                                        <img src="{% static 'images/7.png' %}" alt="">
                                                    </span> All Laptops
                                        </a>
                                        <!-- <div class="submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <span class="menu_icn">
                                                                <img src="images/7.png" alt="">
                                                            </span> One Submenu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="menu_icn">
                                                                <img src="images/7.png" alt="">
                                                            </span> One Submenu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="menu_icn">
                                                                <img src="images/7.png" alt="">
                                                            </span> One Submenu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="menu_icn">
                                                                <img src="images/7.png" alt="">
                                                            </span> One Submenu
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> -->
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu_icn">
                                                <img src="{% static 'images/7.png' %}" alt="">
                                            </span> Laptops By Brands
                                        </a>
                                        <div class="submenu">
                                            <ul>
                                                {% for item in menu_brands %}
                                                <li>
                                                    <a href="{% url 'product:product-brand-list' item.pk %}">
                                                        <span class="menu_icn">
                                                            <img src="{{ item.brand_small_image.url }}" alt="">
                                                        </span> {{ item.name }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu_icn">
                                                <img src="{% static 'images/7.png' %}" alt="">
                                            </span> Laptops By Type
                                        </a>
                                        <div class="submenu">
                                            <ul>
                                                {% for item in menu_types %}
                                                <li>
                                                    <a href="{% url 'product:product-type-list' item.pk %}">
                                                        <span class="menu_icn">
                                                                <img src="{{ item.type_image.url }}" alt="">
                                                            </span> {{ item.brand_type }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_nav">
                            <ul class="menu-item-wrapper">
                                {% for item in menu_categories %}
                                <li class="menu-item">
                                    <a href="{% url 'product:product-category-list' item.pk %}" class="">{{ item.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </header>
    <div class="contentspacer"></div>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="wrap-function-info">
            <div class="container">
                <ul>
                    <li class="info-item">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <div class="wrap-left-info">
                            <h4 class="fc-name">Free shipping</h4>
                            <p class="fc-desc"> Free on order over $99</p>
                        </div>
                    </li>
                    <li class="info-item">
                        <i class="fa fa-recycle" aria-hidden="true"></i>
                        <div class="wrap-left-info">
                            <h4 class="fc-name">Guarantee</h4>
                            <p class="fc-desc"> 30 days money back</p>
                        </div>
                    </li>
                    <li class="info-item">
                        <i class="fa fa-credit-card"></i>
                        <div class="wrap-left-info">
                            <h4 class="fc-name">Safe Payment</h4>
                            <p class="fc-desc"> safe your online payment</p>
                        </div>
                    </li>
                    <li class="info-item">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                        <div class="wrap-left-info">
                            <h4 class="fc-name">Online Support</h4>
                            <p class="fc-desc">We Have Support 24/7</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newslettersub">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="newsletter_ttl_para">
                            <h4><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Subscribe For Newsletter</h4>
                            <p>...be upto date with our <strong>Offers</strong> and <strong>Discounts</strong></p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="newsltter_from">
                            <form action="{% url 'product:subscribe' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            
                                <div class="input-groups ">
                                    <input type="text" class="form-control" name="subs" placeholder="Email Address..." required>
                                    <button type="submit" class="nwl_btn">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerinfos">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="foot_general">
                            <div class="footlogo">
                                <a href="#">
                                    <img src="{% static 'images/newlogo.png' %}" alt="">
                                </a>
                            </div>
                            <div class="cont_info">
                                <div class="continf_top">
                                    <div class="cont_icn">
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                    </div>
                                    <div class="cont_num_txt">
                                        <span class="fotphone_ttl">Got Questions ? Call us 24/7!</span>
                                        <span class="fotphonenum">+977 98523654217</span>
                                    </div>
                                </div>
                                <div class="continfo">
                                    <h5>Be In Touch With Us</h5>
                                    <p>Putalisadak, Kathmandu, Nepal</p>
                                </div>
                                <div class="fot_socials">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="foter_menus">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="footmenus lrg">
                                        <h5>Find It Fast</h5>
                                        <div class="menusitms">
                                            <ul>
                                                {% for item in menu_categories %}
                                                <li>
                                                    <a href="{% url 'product:product-category-list' item.pk %}">{{ item.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="footmenus">
                                        <h5>Customer Care</h5>
                                        <div class="menusitms">
                                            <ul>
                                                {% if request.user.is_authenticated %}
                                                <li>
                                                    <a href="{% url 'users:profile' request.user.pk %}">My Account</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'product:favourite' request.user.pk %}">Favourites</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'product:waitlist' request.user.pk %}">Waitlist</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'product:cart-list' request.user.pk %}">Cart</a>
                                                </li>
                                                {% endif %}
                                                <li>
                                                    <a href="#">Product Support</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_bx">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© <strong>Electronic</strong> - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Plugins script -->
    <script src="{% static 'js/plugins.js' %}"></script>
    {% block scripts %}
    {% endblock %}
      </body>
    </html>