{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="crt_heading">
                        <h1>Shopping Cart</h1>
                    </div>
                    <table class="table prd_calc_tbl">
                      <thead>
                        <tr>
                          <th scope="col">Product</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Total</th>
                          <th scope="col">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for item in carts %}
                        <tr>
                          <td>
                              <div class="td_cont_hldr">
                                  <div class="tbl_prd_img">  
                                    <img src="{{ item.product.main_image.url }}" alt="">
                                  </div>
                                  <div class="tbl_prd_ttl">
                                      {{ item.product.name }}
                                  </div>
                                  <div class="tbl_prd_prc">
                                      {{ item.product.new_price }}
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="tbl_prd_qty">
                                <form>
                                    <input type="number" name="number">
                                </form>
                              </div>
                          </td>
                          <td>
                              <div class="tbl_total">
                                  Rs.190,000.00
                              </div>
                          </td>
                          <td>
                            <form method="POST" action=".">
                                {% csrf_token %}
                            <button type="submit" class="crt_dlt" value="{{ item.pk }}" name="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </form>
                          </td>
                        </tr><!-- tr -->
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="cart-totals">
                        <h3>Cart Totals</h3>
                        <form action="#" method="get" accept-charset="utf-8">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td class="subtotal">Rs.190,000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td class="btn-radio">
                                            <div class="radio-info">
                                                <input type="radio" id="flat-rate" checked="" name="radio-flat-rate">
                                                <label for="flat-rate">Flat Rate: <span>Rs500</span></label>
                                            </div>
                                            <div class="radio-info">
                                                <input type="radio" id="free-shipping" name="radio-flat-rate">
                                                <label for="free-shipping">Free Shipping</label>
                                            </div>
                                        </td>
                                        <!-- /.btn-radio -->
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="price-total">Rs.190,000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-cart-totals">
                                <a href="#" class="checkout" title="">Proceed to Order</a>
                            </div>
                            <!-- /.btn-cart-totals -->
                        </form>
                        <!-- /form -->
                    </div>
                    <!-- /.cart-totals -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}