<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for item in category %}
    {{ item.name }}
    <div class="p-star">
        <i><a href="{% url 'product:category-delete' item.pk %}"> 
            <button class="btn btn-danger brn-sm mt-1 mb-1 dec-sec">Delete</button>
        </a></i>
        <i></i>
    </div>
    {% endfor %}
</body>
</html>