{% extends 'product/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<section class="slider_and_newariv opt2_sldr">
    <div class="mainslider_holder">
        <div class="mainslider2_caro owl-carousel owl-theme">
            {% for item in banner %}
            <div class="item">
                <img src="{{ item.image.url }}" alt="">
            </div>
            {% endfor %}
            <!--item -->
        </div>
    </div>
</section>
<section class="offers_ads">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="ban_ads_sml">
                    <div class="sml_ad_img">
                        <img src="{% static 'images/cameras.jpg' %}" alt="">
                    </div>
                    <div class="sml_ad_txt_hldr">
                        <div class="sml_ad_txt">
                            <span class="sml_adt_ttl">Big Deals On the Camears</span>
                            <a href="#">Shop Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ban_ads_sml">
                    <div class="sml_ad_img">
                        <img src="{% static 'images/DesktopPC.jpg' %}" alt="">
                    </div>
                    <div class="sml_ad_txt_hldr">
                        <div class="sml_ad_txt">
                            <span class="sml_adt_ttl">Big Deals On the Camears</span>
                            <a href="#">Shop Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ban_ads_sml">
                    <div class="sml_ad_img">
                        <img src="{% static 'images/MobileDevicesv2-2.jpg' %}" alt="">
                    </div>
                    <div class="sml_ad_txt_hldr">
                        <div class="sml_ad_txt">
                            <span class="sml_adt_ttl">Big Deals On the Camears</span>
                            <a href="#">Shop Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="caro_products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured_caro_holder brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Most Viewed</h2>
                            </div>
                            <div class="vi_all_prd_caro">
                                <a href="{% url 'product:product-most-viewed-list'  %}">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="featured_caro itms_caro owl-carousel owl-theme">
                        {% for item in most_viewed %}
                        <div class="item">
                            <div class="list_prd_itm text-center">
                                <div class="prd_img">
                                    <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                </div>
                                <div class="prd_infos">
                                    <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                    <span class="price">{{ item.new_price }}</span>
                                </div>
                                <div class="prd_actions">
                                        <a href="{% url 'product:product-detail' item.pk %}"><button class="addtocart">Add To Cart</button></a>
                                    {% if item|check_favourite:request.user.pk %}
                                        <button class="addwhislist" p_id={{ item.pk }} style="background: #ff8202"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    {% else %}
                                        <button class="addwhislist" p_id={{ item.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="caro_products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured_caro_holder brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Super Deals</h2>
                            </div>
                            
                            <div class="vi_all_prd_caro">
                                <a href="{% url 'product:product-super-deals-list'  %}">View All</a>
                            </div>
                           
                        </div>
                    </div>
                    <div class="thumimg_caro_itms">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumimg_for_caro">
                                    <img src="{{ superimage.super_image.url }}" alt="">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="thumimg_caro itms_caro owl-carousel owl-theme">
                                    {% for item in super_deals %}
                                    <div class="item">
                                        <div class="list_prd_itm text-center">
                                            <div class="prd_img">
                                                <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                            </div>
                                            <div class="prd_infos">
                                                <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                                <span class="price">{{ item.new_price }}</span>
                                            </div>
                                            <div class="prd_actions">
                                                    <a href="{% url 'product:product-detail' item.pk %}"><button class="addtocart">Add To Cart</button></a>
                                                {% if item|check_favourite:request.user.pk %}
                                                    <button class="addwhislist" p_id={{ item.pk }} style="background: #ff8202"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                {% else %}
                                                    <button class="addwhislist" p_id={{ item.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- thumimg and caro -->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="caro_products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured_caro_holder brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Special Offers</h2>
                            </div>
                            <div class="vi_all_prd_caro">
                                <a href="{% url 'product:product-offer-list'  %}">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="thumimg_caro_itms">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumimg_for_caro">
                                    <img src="{{ offerimage.offer_image.url }}" alt="">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="thumimg_caro itms_caro owl-carousel owl-theme">
                                    {% for item in offer %}
                                    <div class="item">
                                        <div class="list_prd_itm text-center">
                                            <div class="prd_img">
                                                <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                            </div>
                                            <div class="prd_infos">
                                                <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                                <span class="price">{{ item.new_price }}</span>
                                            </div>
                                            <div class="prd_actions">
                                                    <a href="{% url 'product:product-detail' item.pk %}"><button class="addtocart">Add To Cart</button></a>
                                                {% if item|check_favourite:request.user.pk %}
                                                    <button class="addwhislist" p_id={{ item.pk }} style="background: #ff8202"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                {% else %}
                                                    <button class="addwhislist" p_id={{ item.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- thumimg and caro -->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="caro_products brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Available Brands</h2>
                            </div>
                            <!-- <div class="vi_all_prd_caro">
                                <a href="#">View All</a>
                            </div> -->
                        </div>
                    </div>
                    
                    <div class="brand_caro itms_caro owl-carousel owl-theme">
                            {% for item in brand %}
                        <div class="item">
                            
                            <a href="{% url 'product:product-brand-list' item.pk %}">
                                {% if item.brand_image %}
                                
                                <img src="{{ item.brand_image.url }}" alt="">
                                {% endif %}
                            </a>
                            
                        </div>
                        {% endfor %}
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(".addwhislist").click(function(){
        var base_url = "http://localhost:8000/"
        var product_id = $(this).attr('p_id');
        var fav_item = $(this);

        $.ajax({
            url: '/favourite/add',
            data: {
                'pk': product_id,
            },

            success: function(data){
                fav_item.css("background", "#ff8202");
            },

            error: function(data){
                window.location.replace(base_url + "login/");
            }
        });
    });
</script>
{% endblock %}
