{% extends 'product/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<section class="slider_and_newariv opt2_sldr">
    <div class="mainslider_holder">
        <div class="mainslider2_caro owl-carousel owl-theme">
            {% for item in banner %}
            <div class="item">
                <img src="{{ item.image.url }}" alt="">
            </div>
            {% endfor %}
            <!--item -->
        </div>
    </div>
</section>
<section class="caro_products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured_caro_holder brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Newly Arrived</h2>
                            </div>
                            <div class="vi_all_prd_caro">
                                <a href="{% url 'product:product-offer-list'  %}">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="thumimg_caro_itms">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="thumimg_caro itms_caro owl-carousel owl-theme">
                                    {% for item in offer %}
                                    <div class="item">
                                        <div class="list_prd_itm text-center">
                                            <div class="prd_img">
                                                <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                            </div>
                                            <div class="prd_infos">
                                                <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                                {% if item.previous_price %}<span class="price_old">Rs. {{ item.previous_price }}</span>{% endif %}
                                                <span class="price">Rs.{{ item.new_price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- thumimg and caro -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="caro_products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured_caro_holder brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Special Offers</h2>
                            </div>
                            <div class="vi_all_prd_caro">
                                <a href="{% url 'product:product-offer-list'  %}">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="thumimg_caro_itms">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="thumimg_caro itms_caro owl-carousel owl-theme">
                                    {% for item in offer %}
                                    <div class="item">
                                        <div class="list_prd_itm text-center">
                                            <div class="prd_img">
                                                <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                            </div>
                                            <div class="prd_infos">
                                                <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                                {% if item.previous_price %}<span class="price_old">Rs. {{ item.previous_price }}</span>{% endif %}
                                                <span class="price">Rs.{{ item.new_price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- thumimg and caro -->
                </div>
            </div>
        </div>
    </div>
</section>
{% for item in category %}
<section class="caro_products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured_caro_holder brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>{{ item.name }}s</h2>
                            </div>
                            <div class="vi_all_prd_caro">
                                <a href="{% url 'product:product-category-list' item.id %}">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="featured_caro itms_caro owl-carousel owl-theme">
                        {% with item.product_category.all|separate_two as items %}
                            {% for counts in items %}
                            <div class="item">
                                {% with item|block_category:forloop.counter as category_laptops %}
                                    {% for item in category_laptops %}
                                        <div class="list_prd_itm text-center">
                                            <div class="prd_img">
                                                <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                            </div>
                                            <div class="prd_infos">
                                                <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                                {% if item.previous_price %}<span class="price_old">Rs. {{ item.previous_price }}</span>{% endif %}
                                                <span class="price">Rs.{{ item.new_price }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<section class="caro_products brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Available Brands</h2>
                            </div>
                            <!-- <div class="vi_all_prd_caro">
                                <a href="#">View All</a>
                            </div> -->
                        </div>
                    </div>

                    <div class="brand_caro itms_caro owl-carousel owl-theme">
                            {% for item in brand %}
                        <div class="item">

                            <a href="{% url 'product:product-brand-list' item.pk %}">
                                {% if item.brand_image %}

                                <img src="{{ item.brand_image.url }}" alt="">
                                {% endif %}
                            </a>

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
