{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12">
                    <div class="crt_heading">
                        <h1>Your Notifications</h1>
                    </div>
                    <table class="table prd_calc_tbl">
                        <thead>
                            <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Title</th>
                            <th scope="col">Add To Cart</th>
                            <th scope="col">Availability</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in notifications %}
                                <tr>
                                    <td>
                                        <div class="td_cont_hldr">
                                            <div class="tbl_prd_img">  
                                                <img src="{{ item.product.main_image.url }}" alt="product">
                                            </div>
                                            <div class="tbl_prd_ttl">
                                                {{ item.product.name }}
                                            </div>
                                            <div class="tbl_prd_prc">
                                                Rs.{{ item.product.new_price }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ item.description }}
                                    </td>
                                    <td>
                                        <a href="{% url 'product:product-detail' item.product.pk %}">
                                            <button class="crt_ad">Add To Cart</button>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="avilable_tg_wait">{% if item.product.availability %}Available{% else %}Not available{% endif %}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if is_paginated %}
                    <div class="col-md-12">
                        <div class="row">
                        <div class="prd_pagination">
                            <div class="blog-pagination">
                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                <ul class="flat-pagination style1">
                                    
                                    {% if page_obj.has_previous %}
                                    <li class="prev">
                                        <a href="?page={{ page_obj.previous_page_number }}" title="">
                                            Prev Page
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="active">
                                            <a href="#" class="waves-effect" title="">{{ i }}</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="?page={{ i }}" class="waves-effect" title="">{{ i }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="next">
                                        <a href="?page={{ page_obj.next_page_number }}" title="">
                                        Next Page
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <!-- /.flat-pagination style1 -->
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endif %}
        </div>
        
    </section>
{% endblock %}