{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12">
                    <div class="crt_heading">
                        <h1>Notifications</h1>
                    </div>
                    {% for item in notifications %}
                    <form>
                        <table class="table prd_calc_tbl">
                          <thead>
                            <tr>
                              <th scope="col"><a href="{% url 'product:product-detail' item.product.pk %}">{{ item.description }}</a></th>
                            </tr>
                          </thead>
                        
                        </table>
                    </form>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        
    </section>
{% endblock %}