{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12">
                    <div class="crt_heading">
                        <h1>Your Notifications</h1>
                    </div>
                    <table class="table notify-tbl">
                        <tbody>
                            {% for item in notifications %}
                            <tr>
                                <td>
                                    <div class="notify">
                                        <div class="notify-heading">
                                            {{ item.title }}
                                        </div>
                                        <div class="notify-content">
                                            {{ item.description }}
                                        </div>
                                        <div class="notify-product-detail">
                                            <a href="{% url 'product:product-detail' item.product.pk %}"><img src="{{ item.product.main_image.url }}" alt="product-image"></a>
                                            <a href="{% url 'product:product-detail' item.product.pk %}">{{ item.product.name }}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>  
                            {% endfor %}                              
                        </tbody>
                    </table>
                </div>
                
            </div>
            {% if is_paginated %}
                    <div class="col-md-12">
                        <div class="row">
                        <div class="prd_pagination">
                            <div class="blog-pagination">
                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                <ul class="flat-pagination style1">
                                    
                                    {% if page_obj.has_previous %}
                                    <li class="prev">
                                        <a href="?page={{ page_obj.previous_page_number }}" title="">
                                            Prev Page
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="active">
                                            <a href="#" class="waves-effect" title="">{{ i }}</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="?page={{ i }}" class="waves-effect" title="">{{ i }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="next">
                                        <a href="?page={{ page_obj.next_page_number }}" title="">
                                        Next Page
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <!-- /.flat-pagination style1 -->
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endif %}
        </div>
        
    </section>
{% endblock %}