{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                
                <div class="col-md-7">
                    <div class="crt_heading">
                    <h1>Place Order</h1>
                    </div>
                    <div class="box-checkout">
                        <div class="checkout-login">
                            Returning customer? <a href="#" title="">Click here to login</a>
                        </div>
                        <form action="{% url 'product:order' request.user.pk %}" method="post" class="checkout" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="billing-fields">
                                <div class="fields-title">
                                    <h3>Shipping details</h3>
                                    <span></span>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- /.fields-title -->
                                <div class="fields-content">
                                    <div class="field-row">
                                        <p class="field-one-half">
                                            <label for="first-name">First Name *</label>
                                            <input type="text" id="first-name" name="first_name" placeholder="First Name" required>
                                        </p>
                                        <p class="field-one-half">
                                            <label for="last-name">Last Name *</label>
                                            <input type="text" id="last-name" name="last_name" placeholder="Last Name" required>
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="field-row">
                                        <p class="field-one-half">
                                            <label for="email-address">Email Address *</label>
                                            <input type="email" id="email-address" name="email-address" value="{{ request.user.email }}" required>
                                        </p>
                                        <p class="field-one-half">
                                            <label for="phone">Phone *</label>
                                            <input type="text" id="phone" name="phone" value="{{ request.user.profile.contact }}" required>
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <label>Delivery Address *</label>
                                    <div class="field-row">
                                        <input type="text" id="id-country" name="country" placeholder="Country" required>
                                        <input type="text" id="id-city" name="city" placeholder="City" required>
                                        <input type="text" id="id-street" name="street" placeholder="Street" required>
                                    </div>
                                    <div class="field-row">
                                        <label for="notes">Order Notes</label>
                                        <textarea id="notes" name="note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                                <!-- /.fields-content -->
                            </div>
                            <!-- /.shipping-address-fields -->
                        <!-- /.checkout -->
                    </div>
                    <!-- /.box-checkout -->
                </div>
                <div class="col-md-5">
                    <div class="cart-totals style2">
                        <h3>Your Order</h3>
                            <table class="product">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    <tr>
                                        <td>{{ item.product.name }}
                                            {% if item.product.offer %}
                                                <br>{{ item.product.offer_tag }}</td>
                                            {% endif %}
                                        <td class="cart-price">Rs. {{ item.total_price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.product -->
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Total</td>
                                        <td class="price-total" name="total_price"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.btn-radio style2 -->
                            <div class="checkbox">
                                <input type="checkbox" id="checked-order" name="checked-order" checked="">
                                <label for="checked-order">I’ve read and accept the terms &amp; conditions *</label>
                            </div>
                            <!-- /.checkbox -->
                            <div class="btn-order">
                                <button type="submit" class="order" id="order">Place Order</button>
                            </div>
                            <!-- /.btn-order -->
                        </form>
                    </div>
                    <!-- /.cart-totals style2 -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
    var total = 0;
    $(".cart-price").each(function(){
        total += parseInt($(this).html().replace("Rs. ", ""));
    })
    total = "Rs. " + total;

    $(".subtotal").text(total);
    $(".price-total").text(total);

    $('#checked-order').click(function() {
        if ($(this).is(':checked')) {
            $('#order').removeAttr('disabled');
            console.log('jnasdn');
        } else {
            $('#order').attr('disabled', 'disabled');
        }
    });
    
</script>
{% endblock %}