<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Items</h1>
    {% for item in product %}
     <h2><a href= "{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h2>
    <div class="p-star">
        <i><a href="{% url 'product:product-delete' item.pk %}"> 
            <button class="btn btn-danger brn-sm mt-1 mb-1 dec-sec">Delete</button>
        </a></i>
        <i></i>
        <i></i>
        
    </div>
    {% endfor %}
</body>
</html>