<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        
        {{ imageform.management_form }}
            <div id = "imageformset">
                {% for form in imageform.forms %}
                <div class="form-control">

                    {% for field in form %}
                        {{field.label_tag}}<br>
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color:red">{{error}}</p>
                        {% endfor %}
                    {% endfor %}
                </div><br>
                {% endfor %}
            </div>
            <input type="button" id="imageadd" class="btn btn-info add-item" value="Add More">
            <div id="imageempty_form" style="display:none">
                {{ imageform.empty_form }}
            </div>
        {{ specificationform.management_form }}
        <div id = "specificationformset">
            {% for form in specificationform.forms %}
            <div class="form-control">

                {% for field in form %}
                    {{field.label_tag}}<br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color:red">{{error}}</p>
                    {% endfor %}
                {% endfor %}
            </div><br>
            {% endfor %}
        </div>
        <input type="button" id="specificationadd" class="btn btn-info add-item" value="Add More">
            <div id="specempty_form" style="display:none">
                {{ specificationform.empty_form }}
            </div>
        
      <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#imageadd').click(function() {

        var form_idx = $('#id_imageform-TOTAL_FORMS').val();
        console.log(form_idx);
        $('#imageformset').append($('#imageempty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_imageform-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $('#specificationadd').click(function() {

        var form_idx = $('#id_specform-TOTAL_FORMS').val();
        console.log(form_idx);
        $('#specificationformset').append($('#specempty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_specform-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>

</html>