{% extends 'product/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
   <section class="product_listing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="prd_list_heading">
                                <h1>Product Listing</h1>
                                {% if is_paginated %}
                                    <spna class="showing_itms">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} pages</spna>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                      {% if not search %}
                        <div class="col-md-2">
                          <form method="get" action="{{ request.get_full_path }}">
                            {% if brands %}
                            <div class="prd__list__filter">
                              <div class="sidebarheading">
                                <h5>Brands</h5>
                              </div>
                              <div class="filter__checks">
                                {% for brand in brands %}
                                <div class="filter__check">
                                  <label><input type="checkbox" name="brands" value="{{ brand.id }}"/>{{ brand.name }}</label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                            {% endif %}
                            {% if types %}
                            <div class="prd__list__filter">
                              <div class="sidebarheading">
                                <h5>Types</h5>
                              </div>
                              <div class="filter__checks">
                                {% for type in types %}
                                <div class="filter__check">
                                  <label><input type="checkbox" name="types" value="{{ type.id }}" />{{ type.brand_type }}</label>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                            {% endif %}
                            <div class="prd__list__filter">
                              <div class="sidebarheading">
                                <h5>Price</h5>
                              </div>
                              <div class="price__filter">
                                <input type="text" name="min_price" placeholder="Min Price" />
                                <input type="text" name="max_price" placeholder="Max Price" />
                                <button type="submit">Filter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        {% endif %}
                        <div class="col-md-10">
                          <div class="row">
                            {% if message %}
                            <p>No results found of your search.</p>
                            {% else %}
                            {% for item in product %}
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="list_prd_itm text-center">
                                    <div class="prd_img">
                                        <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                    </div>
                                    <div class="prd_infos">
                                        <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                        <div class="prd_infos_prcs">
                                            {% if item.previous_price %}<span class="price_old">Rs.{{ item.previous_price }}</span>{% endif %}<span class="price_new">Rs.{{ item.new_price }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                    </div>

                    {% if is_paginated %}
                    <div class="col-md-12">
                        <div class="row">
                        <div class="prd_pagination">
                            <div class="blog-pagination">
                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                <ul class="flat-pagination style1">

                                    {% if page_obj.has_previous %}
                                    <li class="prev">
                                        <a href="?page={{ page_obj.previous_page_number }}" title="">
                                            Prev Page
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                                        <li class="active">
                                            <a href="#" class="waves-effect" title="">{{ i }}</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="?page={{ i }}" class="waves-effect" title="">{{ i }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="next">
                                        <a href="?page={{ page_obj.next_page_number }}" title="">
                                        Next Page
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <!-- /.flat-pagination style1 -->
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
