{% extends 'product/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <!-- <div class="contentspacer"></div> 	 -->
	<section class="product_details_top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product_dt_content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pdetails-images">
                                    <div class="pdetails-largeimages pdetails-imagezoom">
                                        {% for image in product.images.all %}
                                        {% if image.big_image %}
                                        <div class="pdetails-singleimage" data-src="{{ image.big_image.url }}">
                                            <img src="{{ image.big_image.url }}" alt="product image">
                                            <div class="pd_zoom_icn">
                                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="pdetails-thumbs">
                                        {% for image in product.images.all %}
                                        {% if image.thumbnail_image %}
                                        <div class="pdetails-singlethumb">
                                            <img src="{{ image.thumbnail_image.url }}" alt="product thumb">
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div><!-- col 6 -->
                            <div class="col-lg-6">
                                <div class="pdetails_details">
                                    <span class="pdetails_bg"></span>
                                    <div class="pdtetails_cnt_holder">
                                        <div class="pdetails_ttl">
                                            <h1>{{ product.name }}</h1>
                                            <span class="pdetails_cat_ttl">{{ product.category }}</span>
                                        </div>
                                        <div class="pdetails_avail_stock">
                                            <span class="avail_txt">Availablity</span>
                                            {% if product.availability %}
                                                <span class="pd_details_stock">In stock</span>
                                            {% else %}
                                                <span class="pd_details_out_stock">Out of stock</span>
                                            {% endif %}
                                        </div>
                                        <div class="pdetails_prices">
                                            {% if product.previous_price %}
                                            <span class="pd_price_old">Rs. {{ product.previous_price }}</span>
                                            {% endif %}


                                            <span class="pd_price_new">Rs. {{ product.new_price }}</span>
                                            {% if product.offer_percent %}
                                            <span class="pd_details_stock">{{ product.offer_percent }}% off</span>
                                            {% endif %}
                                        </div>
                                     
                                        {% if product.description %}
                                        <div class="pdetails_short_des">
                                            <p>{{ product.description }}</p>
                                        </div>
                                        {% endif %}
                                        <div class="pdetails_btns">
                                            <div class="add_to_bargain_pdetails">
                                                {% if product|check_bargain:request.user.pk %}
                                                    <button><i class="fa fa-heart-o" aria-hidden="true"></i> Added To Bargain</button>
                                                {% else %}
                                                    <button class="addbargain" p_id={{ product.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i> Bargain</button>
                                                {% endif %}
                                                
                                            </div>
                                            <div class="add_to_whislist_pdetails">
                                                {% if product|check_favourite:request.user.pk %}
                                                    <button><i class="fa fa-heart-o" aria-hidden="true"></i> Added To Favourite</button>
                                                {% else %}
                                                    <button class="addwhislist" p_id={{ product.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i> Add To Favourite</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if product.availability %}
                                        <form method="POST" action="{% url 'product:add-cart' %}">
                                            {% csrf_token %}
                                            <div class="pdetails_clr_qty">
                                                <div class="colors">
                                                    <select name="color">
                                                        <option value="">Select Color</option>
                                                        {% for item in product.color.all %}
                                                        <option value="{{ item.id }}">{{ item }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="quanlity">
                                                    <input type="number" name="quantity" min="1" max="100" placeholder="Quantity" required>
                                                    <input type="hidden" name="product" value="{{product.pk}}">
                                                </div>
                                            </div>
                                            <div class="pdetails_btns">
                                                <div class="add_to_crt_pdetails">
                                                    <button type="submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                                                </div>   
                                            </div>                                     
                                        </form>
                                        {% else %}
                                        <div class="pdetails_btns">
                                            <div class="add_to_waitlist">
                                                <p>Wait for availability of this product?</p>
                                                {% if product|check_waitlist:request.user.pk %}
                                                    <button><i class="fa fa-hourglass-end" aria-hidden="true"></i>Added To Waitlist</button>
                                                {% else %}
                                                    <button class="addwaitlist" p_id={{ product.pk }}><i class="fa fa-hourglass-end" aria-hidden="true"></i>Add To Waitlist</button>
                                                {% endif %}
                                            </div>
                                            <div class="add_to_whislist_pdetails">
                                                    {% if product|check_favourite:request.user.pk %}
                                                        <button><i class="fa fa-heart-o" aria-hidden="true"></i> Added To Favourite</button>
                                                    {% else %}
                                                        <button class="addwhislist" p_id={{ product.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i> Add To Favourite</button>
                                                    {% endif %}
                                                    
                                            </div>
                                            <div class="add_to_bargain_pdetails">
                                                    {% if product|check_bargain:request.user.pk %}
                                                        <button><i class="fa fa-heart-o" aria-hidden="true"></i> Added To Bargain</button>
                                                    {% else %}
                                                        <button class="addbargain" p_id={{ product.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i>Bargain</button>
                                                    {% endif %}
                                                    
                                            </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>
    <section class="product_details_tabs pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="tb_specifications" data-toggle="tab" href="#specific" role="tab" aria-controls="specific" aria-selected="false">Specifications</a>
                      </li>
                    </ul>
                      <div class="tab-pane fade show active" id="specific" role="tabpanel" aria-labelledby="tb_specifications">
                        <div class="tabcontent">
                            <div class="tecnical-specs">
                                  <table>
                                    <tbody>
                                        {% for spec in product.specifications.all %}
                                        <tr>
                                            <td>{{ spec.title }}</td>
                                            <td>{{ spec.content }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section class="caro_products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="featured_caro_holder brdr_bx">
                        <div class="section_heading">
                            <div class="sectionheading_cont">
                                <div class="sectionttl">
                                    <h2>Related Products</h2>
                                </div>
                            </div>
                        </div>
                        <div class="featured_caro itms_caro owl-carousel owl-theme">
                            {% for item in related %}
                            <div class="item">
                                <div class="list_prd_itm text-center">
                                    <div class="prd_img">
                                        <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                    </div>
                                    <div class="prd_infos">
                                        <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                        <span class="price">Rs. {{ item.new_price }}</span>
                                    </div>
                                    <div class="prd_actions">
                                        <a href="{% url 'product:product-detail' item.pk %}"><button class="addtocart">Add To Cart</button></a>
                                        {% if item|check_favourite:request.user.pk %}
                                            <button class="addwhislist" p_id={{ item.pk }} style="background: #ff8202"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                        {% else %}
                                            <button class="addwhislist" p_id={{ item.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="caro_products brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brdr_bx">
                    <div class="section_heading">
                        <div class="sectionheading_cont">
                            <div class="sectionttl">
                                <h2>Available Brands</h2>
                            </div>
                        </div>
                    </div>
                    <div class="brand_caro itms_caro owl-carousel owl-theme">
                        {% for item in brands %}
                        <div class="item">
                            <a href="#">
                                <img src="{{ item.brand_image.url }}" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
    var base_url = "http://localhost:8000/"

    $(".addwhislist").click(function(){
        var product_id = $(this).attr('p_id');
        var fav_item = $(this);

        $.ajax({
            url: '/favourite/add',
            data: {
                'pk': product_id,
            },

            success: function(data){
                fav_item.css("background", "#ff8202");
            },

            error: function(data){
                window.location.replace(base_url + "login/");
            }
        });
    });

    $(".addwaitlist").click(function(){
        var product_id = $(this).attr('p_id');
        var wait_item = $(this);

        $.ajax({
            url: '/waitlist/add',
            data: {
                'pk': product_id,
            },

            success: function(data){
                wait_item.attr("value", "Added To Waitlist");
            },

            error: function(data){
                window.location.replace(base_url + "login/");
            }
        });
    });

    $(".addbargain").click(function(){
        var product_id = $(this).attr('p_id');
        var wait_item = $(this);

        $.ajax({
            url: '/bargain/add',
            data: {
                'pk': product_id,
            },

            success: function(data){
                wait_item.attr("value", "Added To Bargain");
            },

            error: function(data){
                window.location.replace(base_url + "login/");
            }
        });
    });
</script>
{% endblock %}