{% extends 'product/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
   <section class="product_listing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="prd_list_heading">
                                <h1>Product Listing</h1>
                                <spna class="showing_itms">showing 1–15 of 20 results</spna>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row no-gutters">
                        {% for item in product %}
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="list_prd_itm text-center">
                                <div class="prd_img">
                                    <a href="{% url 'product:product-detail' item.pk %}"><img src="{{ item.main_image.url }}" alt=""></a>
                                </div>
                                <div class="prd_infos">
                                    <h3> <a href="{% url 'product:product-detail' item.pk %}">{{ item.name }}</a></h3>
                                    <div class="prd_infos_prcs">
                                        {% if item.previous_price %}<span class="price_old">Rs.{{ item.previous_price }}</span>{% endif %}<span class="price_new">Rs.{{ item.new_price }}</span>
                                    </div>
                                </div>
                                <div class="prd_actions">
                                    <a href="{% url 'product:product-detail' item.pk %}"><button class="addtocart">Add To Cart</button></a>
                                    {% if item|check_favourite:request.user.pk %}
                                        <button style="background: #ff8202"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    {% else %}
                                        <button class="addwhislist" p_id={{ item.pk }}><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %}
                    </div>
                      

                    <div class="col-md-12">
                        <div class="row">
                        <div class="prd_pagination">
                            <div class="blog-pagination">
                                <span>Showing 1–15 of 20 results</span>
                                <ul class="flat-pagination style1">
                                    <li class="prev">
                                        <a href="#" title="">
                                            Prev Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect" title="">01</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect" title="">02</a>
                                    </li>
                                    <li class="active">
                                        <a href="#" class="waves-effect" title="">03</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect" title="">04</a>
                                    </li>
                                    <li class="next">
                                        <a href="#" title="">
                                        Next Page
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.flat-pagination style1 -->
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
    $(".addwhislist").click(function(){
        var base_url = "http://localhost:8000/"
        var product_id = $(this).attr('p_id');
        var fav_item = $(this);

        $.ajax({
            url: '/favourite/add',
            data: {
                'pk': product_id,
            },

            success: function(data){
                fav_item.css("background", "#ff8202");
            },

            error: function(data){
                window.location.replace(base_url + "login/");
            }
        });
    });
</script>
{% endblock %}
 