{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="crt_heading">
                        <h1>Shopping Cart</h1>
                    </div>
                    <form>
                        <table class="table prd_calc_tbl">
                          <thead>
                            <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Add To Cart</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                  <div class="td_cont_hldr">
                                      <div class="tbl_prd_img">  
                                        <img src="{% static 'images/im04.jpg' %}" alt="">
                                      </div>
                                      <div class="tbl_prd_ttl">
                                          Dell Alienware 15R4
                                      </div>
                                      <div class="tbl_prd_prc">
                                          Rs.190,000.00
                                      </div>
                                  </div>
                              </td>
                              <td>
                                <button class="crt_ad">Add To Cart</button>
                              </td>
                            </tr><!-- tr -->
                          </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}