<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="action_page.php">
        <div class="container">
          <h1>Add Product</h1>
          <p>Add product here</p>
          <hr>
      
          <label><b>Name</b></label>
          <input type="text" name="product-name" required>
          
          <label><b>Previous Price</b></label>
          <input type="text" name="product-name" required>

          <label><b>New Price</b></label>
          <input type="text" name="product-name" required>

          <label><b>Category</b></label>
          <input type="text" name="product-name" required>

          <label><b>Brand</b></label>
          <input type="text" name="product-name" required>

          <label><b>Supper Deals</b></label>
          <input type="text" name="product-name" required>

          <label><b>Offer</b></label>
          <input type="text" name="product-name" required>

          <label><b>Availability</b></label>
          <input type="text" name="product-name" required>

          <hr>
      
          <button type="submit">Add</button>
        </div>
      
        <!-- <div class="container signin">
          <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div> -->
      </form>
</body>
</html>