{% extends 'product/base.html' %}
{% load static %}
{% block content %}
	<section class="pagecontent">
		<div class="container">
			<div class="row">
				<div class="entryforms login">
				    <div class="thirdprty_login">
				        <div class="formContainer p-4">
                            <h5>Activate Your Account</h5>
                            <span>An email has been sent to {{ email }}. Please activate your account by clicking the link on the email to be able to Login.</span>
                            <span>You cannot login unless project manager assigns you a role. You will receieve another email after your role assignment.
				        </div>
				        <div class="ask_users">
				            Go to home <a class="float-right" href="{% url 'product:index' %}">Home</a>
				        </div>
				    </div>
				</div>
			</div>
		</div>
    </section>
{% endblock %}