{% extends 'product/base.html' %}
{% load static %}
{% block content %}
	<section class="pagecontent">
		<div class="container">
			<div class="row">
				<div class="entryforms login">
				    <div class="thirdprty_login">
				        <div class="formContainer p-4">
				            <form method='post' action=".">
                                {% csrf_token %}
				                <div class="form-group">
				                    <label>Username</label>
				                    <input type="text" class="form-control" name="username">
				                </div>
				                <div class="form-group">
				                    <label>Password</label>
				                    <a class="float-right" href="{% url 'password_reset' %}">Forgot Password?</a>
				                    <input type="password" class="form-control" name="password">
								</div>
								<input type="hidden" name="next" value="{{ next }}">
				                <button type="submit" class="sbt_btn">Login</button>
				            </form>
				        </div>
				        <div class="ask_users">
				            Don't have an account? <a class="float-right" href="{% url 'users:register' %}">Sign up</a>
				        </div>
				    </div>
				</div>
			</div>
		</div>
    </section>
{% endblock %}