<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div class="content-section fix-cen">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 log-pa">LogIn</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info log-bt" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted text-inc">
            Need An Account? <a class="ml-2 si-pg" href="{% url 'register' %}">Sign Up</a>
        </small>

    </div>
    <div class="border-top pt-3">
        <small class="text-muted text-inc">
            Forgot password? <a class="ml-2 si-pg" href="{% url 'password_reset' %}">Reset Password</a>
        </small>

    </div>

</div> 
</div>
</body>
</html>