<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logout</title>
</head>
<body>
    <h2>You have Been Logged Out</h2>
    <div class="content-section">

        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login'  %}" class="font-inc underline">Log In Again</a>
            </small>

        </div>

    </div> 
</body>
</html>