{% extends 'product/base.html' %}
{% load static %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                
                <div class="col-md-8 mx-auto">
                    <div class="crt_heading">
                    <h1>Forgot Password?</h1>
                    </div>
                    <div class="box-checkout">
                        <div class="checkout-login">
                            Please enter your email to get reset link...
                        </div>
                        <form action="." method="post" class="checkout" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="billing-fields">
                                <!-- /.fields-title -->
                                <div class="fields-content">
                                    <div class="row">
                                    <div class="col-md-6">
                                        <p class="field-one-half">
                                            <input type="text" id="first-name" name="email" placeholder="Your email address here...">
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="sendlnk_bx">
                                                <button type="submit" class="sbt_btn">Reset</button>
                                        </p>
                                    </div> 
                                    </div>
                                </div>
                                <!-- /.fields-content -->
                            </div>
                            <!-- /.shipping-address-fields -->
                        </form>
                        <!-- /.checkout -->
                    </div>
                    <!-- /.box-checkout -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}