{% extends 'product/base.html' %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="box-checkout profile__edit__head">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>My Account</h1>
                            </div>
                            <a class="prof__edit" href="{% url 'users:profile-update' request.user.pk %}">Edit</a>
                        </div>
                    </div>
                    <div class="user__infos__profile">
                        <h2>General Information</h2>
                        <div class="prof__infos__list">
                            <label>User Name</label>
                            <span class="info__text">{{ profile.user.username }}</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>User Profile Image</label>
                            <span class="info__text">
                                <img src="{{ profile.image.url }}" alt="">
                            </span>                            
                        </div>
                        <div class="prof__infos__list">
                            <label>Address</label>
                            <span class="info__text">{{ profile.address }}</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Email</label>
                            <span class="info__text">{{ profile.user.email }}</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Phone Number</label>
                            <span class="info__text">{{ profile.contact }}</span>
                        </div>
                    </div>
                    <!-- <div class="user__infos__profile">
                        <h2>Shipping Information</h2>
                        <div class="prof__infos__list">
                            <label>Address Two</label>
                            <span class="info__text">Kathmandu Nepal</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Address</label>
                            <span class="info__text">Kathmandu</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Email</label>
                            <span class="info__text">bimalpariyar1@gmail.com</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Phone Number</label>
                            <span class="info__text">9864595211</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}