{% extends 'product/base.html' %}	
{% load static %}
{% block content %}
	<section class="pagecontent">
		<div class="container">
			<div class="row">
				<div class="entryforms signup">
				    <h1>Create your account. It’s free and only takes a minute.</h1>

				    <div class="formContainer p-4">
				        <form method="post" action=".">
                            {% csrf_token %}
				            <div class="form-group">
				                <label>Username</label>
				                <input type="text" name="username" class="form-control">
				            </div>
				            <div class="form-group">
				                <label>Email address</label>
				                <input type="email" name="email" class="form-control">
				            </div>
				            <div class="form-group">
				                <label>Password</label>
				                <input type="password" name="password1" class="form-control">
				                <div class="form_instructions">
				                    <p>Passwords must contain at least eight characters, including at least one letter and one number.</p>
				                </div>
                            </div>
                            <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password2" class="form-control">
                                    <div class="form_instructions">
                                        <p>Both Passwords must match.</p>
                                    </div>
                                </div>
				            <button type="submit" class="sbt_btn">Signup</button>
				        </form>
				        <div class="sigup_agree">
				            By clicking “Sign up”, you agree to our <a href="#">terms of service</a>, <a href="#">privacy policy</a>.
				        </div>
				    </div>
				    <div class="ask_users">
				        Already have an account? <a class="float-right" href="{% url 'login' %}">Login Now</a>
				    </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}