{% extends 'product/base.html' %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="box-checkout profile__edit__head">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>Edit Account</h1>
                            </div>
                        </div>
                    </div>
                    <div class="user__infos__profile">
                        <h2>General Information</h2>
                        <div class="prof__infos__list">
                            <label>User Name</label>
                            <span class="info__text">{{ request.user.username }}</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Email</label>
                            <span class="info__text">{{ request.user.email }}</span>
                        </div>
                        <form method="post" action="." enctype="multipart/form-data" id="formUpload">
                            {% csrf_token %}
                            <div class="prof__infos__list">
                                <label>User Profile Image</label>
                                <span class="info__text">
                                    {{ form.image }}
                                </span>                            
                            </div>
                            {{ form.x }}
                            {{ form.y }}
                            {{ form.width }}
                            {{ form.height }}
                            <div class="prof__infos__list">
                                <label>Address</label>
                                {{ form.address }}
                            </div>
                            <div class="prof__infos__list">
                                <label>Phone Number</label>
                                {{ form.contact }}
                            </div>
                            <div class="btn-order">
                                <button type="submit" class="">Submit</button>
                            </div>
                        </form>
                        <div class="modal fade" id="modalCrop">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  <h4 class="modal-title">Crop the photo</h4>
                                </div>
                                <div class="modal-body">
                                  <img src="" id="image" style="max-width: 100%;">
                                </div>
                                <div class="modal-footer">
                                  <div class="btn-group pull-left" role="group">
                                    <button type="button" class="btn btn-default js-zoom-in">
                                      <span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-zoom-out">
                                      <span class="glyphicon glyphicon-zoom-out"></span>
                                    </button>
                                  </div>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                                  <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_image").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });
      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 283/283,
          minCropBoxWidth: 283,
          minCropBoxHeight: 283,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });
      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });
      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });
      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#modalCrop").modal("hide");
      });
    });
  </script>
{% endblock %}