{% extends 'product/base.html' %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="box-checkout profile__edit__head">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>Edit Account</h1>
                            </div>
                        </div>
                    </div>
                    <div class="user__infos__profile">
                        <h2>General Information</h2>
                        <div class="prof__infos__list">
                            <label>User Name</label>
                            <span class="info__text">{{ request.user.username }}</span>
                        </div>
                        <div class="prof__infos__list">
                            <label>Email</label>
                            <span class="info__text">{{ request.user.email }}</span>
                        </div>
                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="prof__infos__list">
                                <label>User Profile Image</label>
                                <span class="info__text">
                                    {{ form.image }}
                                </span>                            
                            </div>
                            <div class="prof__infos__list">
                                <label>Address</label>
                                {{ form.address }}
                            </div>
                            <div class="prof__infos__list">
                                <label>Phone Number</label>
                                {{ form.contact }}
                            </div>
                            <div class="btn-order">
                                <button type="submit" class="">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}