{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#detail">Product Detail</a></li>
                                <li><a href="#detail-images">Product Images</a></li>
                                <li><a href="#specifications">Specifications</a></li>
                            </ul>
                            <form action="." method="POST" class="dropzone dropzone-custom needsclick addlibrary" id="demo1-upload"  enctype="multipart/form-data">
                              {% csrf_token %}
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="detail">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad addcoursepro">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                  <label for="id_name">Product name *</label>
                                                                  {{ form.name }}
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="id_description">Description *</label>
                                                                  {{ form.description }}
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="id_previous_price">Old Price</label>
                                                                  {{ form.previous_price }}
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="id_previous_price">New Price *</label>
                                                                  {{ form.new_price }}
                                                                </div>

                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                              <div class="form-group">
                                                                  <label for="id_offer">Main image of product *</label>
                                                                  {{ form.main_image }}
                                                                  {{ form.main_image.help_text }}
                                                              </div>
                                                              {{ form.x }}
                                                              {{ form.y }}
                                                              {{ form.width }}
                                                              {{ form.height }}
                                                              {{ form.errors }}
                                                              <div class="form-group">
                                                                <label for="id_category">Category *</label>
                                                                {{ form.category }}
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="id_brand">Brand *</label>
                                                                {{ form.brand }}
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="id_produdct_type">Type *</label>
                                                                {{ form.product_type }}
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="id_super_deals">{{ form.super_deals.label }}</label>
                                                                {{ form.super_deals }}
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="id_offer">{{ form.offer.label }}</label>
                                                                <input type="checkbox" name="offer" class="form-control" id="id_offer" disabled>
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="id_availability">{{ form.availability.label }}</label>
                                                                {{ form.availability }}
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="id_visibility">{{ form.visibility.label }}</label>
                                                                {{ form.visibility }}
                                                              </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="detail-images">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      {{ imageform.management_form }}
                                                        <div class="devit-card-custom" id="imageformset">
                                                            {% for form in imageform.forms %}
                                                              <div class="form-group">
                                                                  <label>Select an image. *</label>
                                                                  {{ form.big_image }}
                                                                  {{ form.big_image.help_text }}
                                                              </div>
                                                              {{ form.x_main }}
                                                              {{ form.y_main }}
                                                              {{ form.width_main }}
                                                              {{ form.height_main }}
                                                              <div class="form-group">
                                                                  <label>Select a thumbnail image. *(Image should be same as the above image but smaller in size).</label>
                                                                  {{ form.thumbnail_image }}
                                                                  {{ form.thumbnail_image.help_text }}
                                                              </div>
                                                              {{ form.x_thumb }}
                                                              {{ form.y_thumb }}
                                                              {{ form.width_thumb }}
                                                              {{ form.height_thumb }}
                                                              <hr>
                                                            {% endfor %}

                                                        </div>
                                                        <button class="btn btn-primary" type="button" id="imageadd">Add More Images</button>
                                                    </div>
                                                    <div id="imageempty_form" style="display:none">
                                                        {% with imageform.empty_form as img_form %}
                                                        {{ img_form.id }}
                                                        <div class="form-group">
                                                            <label>Select an image. *</label>
                                                            {{ img_form.big_image }}
                                                            {{ img_form.big_image.help_text }}
                                                        </div>
                                                        {{ form.x_main }}
                                                        {{ form.y_main }}
                                                        {{ form.width_main }}
                                                        {{ form.height_main }}
                                                        <div class="form-group">
                                                            <label>Select a thumbnail image. *(Image should be same as the above image but smaller in size).</label>
                                                            {{ img_form.thumbnail_image }}
                                                            {{ img_form.thumbnail_image.help_text }}
                                                        </div>
                                                        {{ form.x_thumb }}
                                                        {{ form.y_thumb }}
                                                        {{ form.width_thumb }}
                                                        {{ form.height_thumb }}
                                                        <hr>
                                                        {% endwith %}
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="specifications">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                      												<div class="row">
                      													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  {{ specificationform.management_form }}
                      														<div class="devit-card-custom" id="specificationformset">
                                                    {% for form in specificationform.forms %}
                      															<div class="form-group">
                                                      <label>Choose a specification title *</label>
                      																{{ form.title|add_class:"form-control title_class" }}
                      															</div>
                                                    <div class="form-group">
                                                      <label>Choose a specification content *</label>
                      																{{ form.content|add_class:"form-control" }}
                      															</div>
                                                    <hr>
                                                    {% endfor %}
                      														</div>
                                                  <button class="btn btn-primary" type="button" id="specificationadd">Add More Specifications</button>
                      													</div>
                                                <div id="specempty_form" style="display:none">
                                                    {% with specificationform.empty_form as form %}
                                                    {{ form.id }}
                                                    <div class="form-group">
                                                      <label>Choose a specification title *</label>
                      																{{ form.title|add_class:"form-control title_class" }}
                      															</div>
                                                    <div class="form-group">
                                                      <label>Choose a specification title *</label>
                      																{{ form.content|add_class:"form-control" }}
                      															</div>
                                                    <hr>
                                                    {% endwith %}
                                                </div>
                      												</div>
                                              <div class="row">
                                                  <div class="col-lg-12">
                                                      <div class="payment-adress">
                                                          <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCrop">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">Crop the photo</h4>
                </div>
                <div class="modal-body">
                  <img src="" id="image" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                  <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                      <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                      <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                  <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="bigmodalCrop">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">Crop the photo</h4>
                </div>
                <div class="modal-body">
                  <img src="" id="bigimage" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                  <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                      <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                      <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                  <button type="button" class="btn btn-primary js-crop-and-upload-big">Crop</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="thumbmodalCrop">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">Crop the photo</h4>
                </div>
                <div class="modal-body">
                  <img src="" id="thumbimage" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                  <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                      <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                      <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                  <button type="button" class="btn btn-primary js-crop-and-upload-thumb">Crop</button>
                </div>
              </div>
            </div>
        </div>
        {% endblock %}
        {% block scripts %}
        <script>
          $("#product-nav").addClass('active');
          $("#product-nav ul").addClass('show');
        </script>
        <script src="{% static 'dashboard/js/cropper/cropper.min.js' %}"></script>
        <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

          <script>
              if ($("#id_previous_price").val().length > 0){
                  $("#id_offer").removeAttr("disabled");
              }
              else{
                  $('#id_offer').attr('disabled', 'disabled');
              }
              $("#id_previous_price").keyup(function(){
                  if ($(this).val().length){
                      $('#id_offer').removeAttr('disabled');
                  }
                  else{
                      $('#id_offer').attr('disabled', 'disabled');
                  }
              });
          </script>

          <script>
              $(function () {
                /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
                $("#id_main_image").change(function () {
                  if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $("#image").attr("src", e.target.result);
                      $("#modalCrop").modal("show");
                    }
                    reader.readAsDataURL(this.files[0]);
                  }
                });
                /* SCRIPTS TO HANDLE THE CROPPER BOX */
                var $image = $("#image");
                var cropBoxData;
                var canvasData;
                $("#modalCrop").on("shown.bs.modal", function () {
                  $image.cropper({
                    viewMode: 1,
                    aspectRatio: 2/2.2,
                    ready: function () {
                      $image.cropper("setCanvasData", canvasData);
                      $image.cropper("setCropBoxData", cropBoxData);
                    }
                  });
                }).on("hidden.bs.modal", function () {
                  cropBoxData = $image.cropper("getCropBoxData");
                  canvasData = $image.cropper("getCanvasData");
                  $image.cropper("destroy");
                });
                $(".js-zoom-in").click(function () {
                  $image.cropper("zoom", 0.1);
                });
                $(".js-zoom-out").click(function () {
                  $image.cropper("zoom", -0.1);
                });
                /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
                $(".js-crop-and-upload").click(function () {
                  var cropData = $image.cropper("getData");
                  $("#id_x").val(cropData["x"]);
                  $("#id_y").val(cropData["y"]);
                  $("#id_height").val(Math.round(cropData["height"]));
                  $("#id_width").val(Math.round(cropData["width"]));
                  $("#modalCrop").modal("hide");
                });
              });
            </script>

            <script>
                $(function () {
                    var num = 0;
                    $("#imageformset").on('change', '.big_image_class', function(){
                        if (this.files && this.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("#bigimage").attr("src", e.target.result);
                                $("#bigmodalCrop").modal("show");
                            }
                            reader.readAsDataURL(this.files[0]);
                        }
                        num = this.id.split('-')[1];
                    });
                    /* SCRIPTS TO HANDLE THE CROPPER BOX */
                    var $image = $("#bigimage");
                    var cropBoxData;
                    var canvasData;
                    $("#bigmodalCrop").on("shown.bs.modal", function () {
                        $image.cropper({
                        viewMode: 1,
                        aspectRatio: 7/7,
                        ready: function () {
                            $image.cropper("setCanvasData", canvasData);
                            $image.cropper("setCropBoxData", cropBoxData);
                        }
                        });
                    }).on("hidden.bs.modal", function () {
                        cropBoxData = $image.cropper("getCropBoxData");
                        canvasData = $image.cropper("getCanvasData");
                        $image.cropper("destroy");
                    });
                    $(".js-zoom-in").click(function () {
                        $image.cropper("zoom", 0.1);
                    });
                    $(".js-zoom-out").click(function () {
                        $image.cropper("zoom", -0.1);
                    });
                    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
                    $(".js-crop-and-upload-big").click(function () {
                        var cropData = $image.cropper("getData");
                        $("#id_imageform-" + num + "-x_main").val(cropData["x"]);
                        $("#id_imageform-" + num + "-y_main").val(cropData["y"]);
                        $("#id_imageform-" + num + "-height_main").val(Math.round(cropData["height"]));
                        $("#id_imageform-" + num + "-width_main").val(Math.round(cropData["width"]));
                        $("#bigmodalCrop").modal("hide");
                    });
                });
            </script>
            <script>
                $(function () {
                    var num = 0;
                    $("#imageformset").on('change', '.thumb_image_class', function(){
                        if (this.files && this.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("#thumbimage").attr("src", e.target.result);
                                $("#thumbmodalCrop").modal("show");
                            }
                            reader.readAsDataURL(this.files[0]);
                        }
                        num = this.id.split('-')[1];
                    });
                    /* SCRIPTS TO HANDLE THE CROPPER BOX */
                    var $image = $("#thumbimage");
                    var cropBoxData;
                    var canvasData;
                    $("#thumbmodalCrop").on("shown.bs.modal", function () {
                        $image.cropper({
                        viewMode: 1,
                        aspectRatio: 1/1,
                        ready: function () {
                            $image.cropper("setCanvasData", canvasData);
                            $image.cropper("setCropBoxData", cropBoxData);
                        }
                        });
                    }).on("hidden.bs.modal", function () {
                        cropBoxData = $image.cropper("getCropBoxData");
                        canvasData = $image.cropper("getCanvasData");
                        $image.cropper("destroy");
                    });
                    $(".js-zoom-in").click(function () {
                        $image.cropper("zoom", 0.1);
                    });
                    $(".js-zoom-out").click(function () {
                        $image.cropper("zoom", -0.1);
                    });
                    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
                    $(".js-crop-and-upload-thumb").click(function () {
                        var cropData = $image.cropper("getData");
                        $("#id_imageform-" + num + "-x_thumb").val(cropData["x"]);
                        $("#id_imageform-" + num + "-y_thumb").val(cropData["y"]);
                        $("#id_imageform-" + num + "-height_thumb").val(Math.round(cropData["height"]));
                        $("#id_imageform-" + num + "-width_thumb").val(Math.round(cropData["width"]));
                        $("#thumbmodalCrop").modal("hide");
                    });
                });
            </script>
            <script>
                $('#imageadd').click(function() {

                    var form_idx = $('#id_imageform-TOTAL_FORMS').val();
                    $('#imageformset').append($('#imageempty_form').html().replace(/__prefix__/g, form_idx));
                    $('#id_imageform-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                });

                $('#specificationadd').click(function() {
                  console.log('adsadsad');

                    var form_idx = $('#id_specform-TOTAL_FORMS').val();
                    $('#specificationformset').append($('#specempty_form').html().replace(/__prefix__/g, form_idx));
                    $('#id_specform-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                });
            </script>
        {% endblock %}
