{% extends 'dashboard/base.html' %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <di class="box-checkout">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>Add Products</h1>
                            </div>
                        </div>
                    </di>
                    <div class="prd_add fields-content">
                        <form action='.' method="POST" enctype="multipart/form-data" id="formUpload">
                            {% csrf_token %}
                            <div class="field-row">
                                <div class="field-full">
                                    <label for="id_name">Product name *</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                <label for="id_description">Description *</label>
                                {{ form.description }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-one-half">
                                    <label for="id_previous_price">Old Price</label>
                                    {{ form.previous_price }}
                                </div>
                                <div class="field-one-half">
                                    <label for="id_new_price">New Price *</label>
                                    {{ form.new_price }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-one-third">
                                    <label for="id_category">Category *</label>
                                    {{ form.category }}
                                </div>
                                <div class="field-one-third">
                                    <label for="id_brand">Brand *</label>
                                    {{ form.brand }}
                                </div>
                                <div class="field-one-third">
                                    <label for="id_product_type">Product Type *</label>
                                    {{ form.product_type }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="radio_hlf">
                                    <label for="id_super_deals">{{ form.super_deals.label }}</span></label>
                                    {{ form.super_deals }}
                                </div>
                            </div>
                            <div class="field-row offer">
                                <div class="radio_hlf">
                                    <label for="id_offer">{{ form.offer.label }}</span></label>
                                    <input type="checkbox" name="offer" id="id_offer" disabled>
                                </div> 
                            </div>
                            <div class="field-row">
                                <div class="radio_hlf">
                                    <label for="id_availability">{{ form.availability.label }}</span></label>
                                    {{ form.availability }}
                                </div> 
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                    <label for="id_main_image">Main image of product *</label>
                                    {{ form.main_image.help_text }}
                                    {{ form.main_image }}
                                </div>
                            </div>
                            {{ form.x }}
                            {{ form.y }}
                            {{ form.width }}
                            {{ form.height }}
                            {{ form.errors }}
                            <di class="box-checkout">
                                <div class="checkout-login adprd_heading">
                                    <div class="crt_heading">
                                        <h1>Add Extra Images of Product</h1>
                                    </div>
                                </div>
                            </di>
                            
                            {{ imageform.management_form }}
                            <div id="imageformset" class="formset_wrap">
                            {% for form in imageform.forms %}
                                <div class="image-form-single">
                                    {{ form }}
                                    {{ form.errors }}
                                </div>
                                <br>
                            {% endfor %}
                            </div>
                            <input type="button" id="imageadd" class="btn btn-info add-item" value="Add More Images">
                            <div id="imageempty_form" style="display:none">
                                {{ imageform.empty_form }}
                            </div>

                            <di class="box-checkout">
                                <div class="checkout-login adprd_heading">
                                    <div class="crt_heading">
                                        <h1>Add Specifications of Product</h1>
                                    </div>
                                </div>
                            </di>

                            {{ specificationform.management_form }}
                            <div id="specificationformset" class="formset_wrap">
                                {% for form in specificationform.forms %}
                                <div class="spec-form-single">
                                    <div class="field-row">
                                        <div class="field-one-half">
                                            {{ form }}
                                            {{ form.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <input type="button" id="specificationadd" class="btn btn-info add-item" value="Add More Specifications">
                            <div id="specempty_form" style="display:none">
                                {{ specificationform.empty_form }}
                            </div>
                            <div class="sbtprd">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                        <div class="modal fade" id="modalCrop">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  <h4 class="modal-title">Crop the photo</h4>
                                </div>
                                <div class="modal-body">
                                  <img src="" id="image" style="max-width: 100%;">
                                </div>
                                <div class="modal-footer">
                                  <div class="btn-group pull-left" role="group">
                                    <button type="button" class="btn btn-default js-zoom-in">
                                      <span class="glyphicon glyphicon-zoom-in"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-zoom-out">
                                      <span class="glyphicon glyphicon-zoom-out"></span>
                                    </button>
                                  </div>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                                  <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block scripts %}
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script>
        if ($("#id_previous_price").val().length > 0){
            $("#id_offer").removeAttr("disabled");
        }
        else{
            $('#id_offer').attr('disabled', 'disabled');
        }
        $("#id_previous_price").keyup(function(){
            if ($(this).val().length){
                $('#id_offer').removeAttr('disabled');
            }
            else{
                $('#id_offer').attr('disabled', 'disabled');
            }
        });
    </script>
    <script>
        $(function () {
          /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
          $("#id_main_image").change(function () {
            if (this.files && this.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $("#image").attr("src", e.target.result);
                $("#modalCrop").modal("show");
              }
              reader.readAsDataURL(this.files[0]);
            }
          });
          /* SCRIPTS TO HANDLE THE CROPPER BOX */
          var $image = $("#image");
          var cropBoxData;
          var canvasData;
          $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
              viewMode: 1,
              aspectRatio: 256/290,
              minCropBoxWidth: 256,
              minCropBoxHeight: 290,
              ready: function () {
                $image.cropper("setCanvasData", canvasData);
                $image.cropper("setCropBoxData", cropBoxData);
              }
            });
          }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
          });
          $(".js-zoom-in").click(function () {
            $image.cropper("zoom", 0.1);
          });
          $(".js-zoom-out").click(function () {
            $image.cropper("zoom", -0.1);
          });
          /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
          $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(Math.round(cropData["height"]));
            $("#id_width").val(Math.round(cropData["width"]));
            $("#modalCrop").modal("hide");
          });
        });
      </script>
    <script>
        $('#imageadd').click(function() {

            var form_idx = $('#id_imageform-TOTAL_FORMS').val();
            $('#imageformset').append($('#imageempty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_imageform-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

        $('#specificationadd').click(function() {

            var form_idx = $('#id_specform-TOTAL_FORMS').val();
            $('#specificationformset').append($('#specempty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_specform-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
    {% endblock %}