{% extends 'dashboard/base.html' %}
{% block content %}
	<body>
        <section class="cartpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="crt_heading">
                                <h1>Brands</h1>
                            </div>
                            <a href="{% url 'dashboard:brand-create' %}"><button class="btn btn-primary" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Brand</button></a>
                            <table class="table prd_calc_tbl">
                                <thead>
                                <tr>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in brand %}
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                    {{ item.name }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{% url 'dashboard:brand-update' item.pk %}"><button class="item-action"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                            <form method="get" action="{% url 'dashboard:brand-delete' item.pk %}">
                                                <button type="submit" class="item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr><!-- tr -->
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}

