{% extends 'dashboard/base.html' %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <di class="box-checkout">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>Add Brand</h1>
                            </div>
                        </div>
                    </di>
                    <div class="prd_add fields-content">
                        <form action='.' method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field-row">
                                <div class="field-full">
                                    <label for="id_name">Brand Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                    <label for="id_category">Category</label>
                                    {{ form.category }}
                                </div>
                            </div>
                            <div class='field-row'>
                                <div class="field-full">
                                    <label for="id_brand_image">Image</label>
                                    {{ form.brand_image }}
                                </div>
                            </div>
                            <div class="sbtprd">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

