<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="keywords" content="">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <!-- Plugins css -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
</head>
	<body>
        <section class="cartpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="crt_heading">
                                <h1>Categories</h1>
                            </div>
                            <a href="{% url 'dashboard:category-create' %}"><button class="btn btn-primary" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Category</button></a>
                            <table class="table prd_calc_tbl">
                                <thead>
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in category %}
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                    {{ item.name }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{% url 'dashboard:category-update' item.pk %}"><button class="item-action"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                            <form method="get" action="{% url 'dashboard:category-delete' item.pk %}">
                                                <button type="submit" class="item-action"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr><!-- tr -->
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>

