{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Category List</h4>
                            <div class="add-product">
                                <a href="{% url 'dashboard:category-create' %}">Add Category</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <tr>
                                        <th>No</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>Setting</th>
                                    </tr>
                                    {% for item in category %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        {% if item.image %}
                                        <td><img src="{{ item.category_image.url }}" alt="" /></td>
                                        {% else %}
                                        <td><img src="" alt="image"></td>
                                        {% endif %}
                                        <td>{{ item.name }}</td>
                                        <td>
                                            <a href="{% url 'dashboard:category-update' item.pk %}" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <form method="get" action="{% url 'dashboard:category-delete' item.pk %}">
                                              <button data-toggle="tooltip" title="Trash" class="pd-setting-ed" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            {% if is_paginated %}
                            <div class="custom-pagination">
              								<ul class="pagination">
                                {% if page_obj.has_previous %}
              									<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                {% for i in paginator.page_range %}
              									    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}
                                {% if page_obj.has_next %}
              									    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                {% endif %}
              								</ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block scripts %}
        <script>
          $("#category-nav").addClass('active');
          $("#category-nav ul").addClass('show');
        </script>
        {% endblock %}
