{% extends 'dashboard/base.html' %}
{% block content %}
        <section class="cartpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="crt_heading">
                                <h1>Dashboard</h1>
                            </div>
                            <table class="table prd_calc_tbl">
                                <thead>
                                <tr>
                                    <th scope="col">Items</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                    <a href="{% url 'dashboard:category-list' %}">Categories</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                        <a href="{% url 'dashboard:brand-list' %}">Brands</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                        <a href="{% url 'dashboard:type-list' %}">Product Types</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                        <a href="{% url 'dashboard:product-list' %}">Products</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td>
                                        <div class="td_cont_hldr">
                                            <div class="tbl_prd_ttl">
                                                    <a href="{% url 'dashboard:banner-list' %}">Banner Images</a>
                                            </div>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                        <a href="{% url 'dashboard:superimage-list' %}">Super Images</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="td_cont_hldr">
                                                <div class="tbl_prd_ttl">
                                                        <a href="{% url 'dashboard:offerimage-list' %}">Offer Images</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <div class="crt_heading">
                                <table class="table prd_calc_tbl">
                                    <thead>
                                        <tr>Items</tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="td_cont_hldr">
                                                    <div class="tbl_prd_ttl">
                                                        <a href="{% url 'dashboard:favourite-list' %}">Favourites</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}

