{% extends 'dashboard/base.html' %}
{% load dashboard_filters %}
{% block content %}
        <section class="cartpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="crt_heading">
                                <h1>Order Lists</h1>
                            </div>
                            {% for item in order %}
                                {{ forloop.counter }}. <a href="{% url 'dashboard:order_detail' item.pk %}">{{ item }}- {{ item.date }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}

