{% extends 'dashboard/base.html' %}
{% block content %}
    <section class="cartpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <di class="box-checkout">
                        <div class="checkout-login adprd_heading">
                            <div class="crt_heading">
                                <h1>Add Type</h1>
                            </div>
                        </div>
                    </di>
                    <div class="prd_add fields-content">
                        <form action='.' method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field-row">
                                <div class="field-full">
                                    <label for="id_name">Brand</label>
                                    {{ form.brand }}
                                </div>
                            </div>
                            <div class="field-row">
                                <div class="field-full">
                                    <label for="id_category">Brand Type</label>
                                    {{ form.brand_type }}
                                </div>
                            </div>
                            <div class="field-row">
                                    <div class="field-full">
                                        <label for="id_category">Image</label>
                                        {{ form.type_image }}
                                        {{ form.type_image.help_text }}
                                    </div>
                                </div>

                            <div class="sbtprd">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

